<%- include("partials/part-header") %>
<body>
    <section class="new-logo">
        <div>
            <a href="/" class="home">Neon Creatives</a>
            <em>. . . Creativity at it's peak</em>
        </div>
    </section>
    <section class="new">
        <div class="form new-bag">
            <h3>Edit Bag Item here</h3>
            <form action="/bag/<%=bagToEdit._id%>?_method=PUT" method="post">
                <p>
                    <img class="input" src="data:image/<%=bagToEdit.img.contentType%>;base64,<%=bagToEdit.img.data.toString('base64')%>"
                        height="200px" width="200px" alt="Your Image preview will show here">
                </p>
                <p>
                    <label>Edit Bag name</label>
                    <input type="text" name="bag[name]" value='<%=bagToEdit.name%>' placeholder="Name of Bag here...">
                </p>
                <p>
                    <label>Edit Bag price</label>
                    <input type="number" value='<%=bagToEdit.price%>' name="bag[price]" placeholder="Price of bag here...">
                </p>
                <p>
                    <label>Edit Bag description</label>
                    <input type="text" value='<%=bagToEdit.description%>' name='bag[description]' placeholder='Description'>
                </p>
                <p>
                    <input type="Submit">
                </p>
            </form>
        </div>
    </section>

    
    <!--
        <section class="new">
            <div class="form new-bag">
                <h3>Edit Bag item here</h3>
                <form action="/<%=bagToEdit._id%>/bag?_method=PUT" method="POST" enctype="multipart/form-data">
                    <p>
                        <input type="text" value="<%=bagToEdit.name%>" name="name" placeholder="Name of Bag here...">
                    </p>
                    <p>
                        <label>Bag Image Here</label>
                        <img class="input"
                            src="data:image/<%=bagToEdit.img.contentType%>;base64,<%=bagToEdit.img.data.toString('base64')%>"
                            height="200px" width="200px" alt="Your Image preview will show here">
                    </p>
                    <p>
                        <input type="number" value="<%=bagToEdit.price%>" name="price" placeholder="Price of bag here...">
                    </p>
                    <p>
                        <input type="text" value='<%=bagToEdit.description%>' name='description' placeholder='Description'>
                    </p>
                    <p>
                        <Button>Submit!!</Button>
                    </p>
                </form>
            </div>
        </section> -->
    </body>
</html>