<%- include("partials/header") %>
<section id="hero">
      <div>
        <span>
          <h1>Exquisite modern handbags just <br>for you</h1>
          <div><a href="#">Explore</a></div> 
        </span>
      </div>
</section>
<br>
<section id="gallery" class="gallery">
      <div class="container">
        <div class="section-title">
         <h2>Check them out <i class="fa fa-hand-o-down" aria-hidden="true"></i><i class="fa fa-hand-o-down" aria-hidden="true"></i></h2>
        </div>
        <div class="galle-1">
            <%images.forEach(function(image){%>
            <div>
              <div class="galle-1-1">
                 <div>
                  <%=image.name%> - <%=image.price%>
                </div>
                 <a href="data:<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>">
                <img src="data:<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="" class="img"/>
              </a>
                </div>
              <div class="galle-2 galle-1-2"> 
               <%if(currentUser){%>             
                <form action="/<%=image._id%>?_method=delete" method="post">
                <button id="gallery-edit">
                    Delete
                </button>
                </form>
                <%}%>
                <p>
                  <a href="#">
                <i class="fas fa-shopping-cart">
                </i> 
                  </a>
                Purchase
                </p>
             </div>
<!--              <div class="galle-3">
               <i class="fas fa-money-check"></i> <%=image.price%>
             </div> -->
          </div>
          <%})%>
          <%if(currentUser){%>
          <a id="addition" href="/edit"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
          <%}%>
        </div>

      </div>
</section>
<br><br>
<section id="about" class="about">
  <div class="section-title">         
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch">
            <a href="https://youtu.be/5jUeZkdXOcU" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <p class="training">Neon collections offers online and onsite training. <div><em style="font-size: large; font-weight: 10px">You can get trained on how to build your favourite quality handbags and make money for yourself at affordable prices.</em></div></p><br>
           <div style="text-align: center;"><a href="" class="video btn btn-large">LET'S GET LEARNING.</a></div>
          </div>
        </div>

      </div>
    </section>

<%- include("partials/footer") %>
