<%- include("partials/header") %>
<div class="hero">
  <div class="heroL1 carousel">
    <figure>
      <img
        src="Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg"
        alt=""
      />
      <img
        src="Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.17 AM (1).jpeg"
        alt=""
      />
      <img
        src="Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.13 AM (3).jpeg"
        alt=""
      />
      <img
        src="Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.12 AM (1).jpeg"
        alt=""
      />
      <img
        src="Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg"
        alt=""
      />
    </figure>
  </div>
  <div class="heroL1 transparent-beauty">
    <div>
      <h1>Experience creativity at it's peak.</h1>
    </div>
      <span class="shop"><a href='https://www.google.com'>SHOP NOW <i class="fa-solid fa-cart-shopping"></i></a></span>
  </div>
</div>
<section id="gallery" class="gallery">
      <div class="container">
        <div class="section-title">
         <h4>Recently added</h4>
        </div>
        <div class="galle-1">
        <%images.forEach(function(image){%>
          <div class="galle-1-L1" data-value="<%=image._id%>">
            <div>
              <p><span id="name"><%=image.name%></span> </p>
              <div class="img">
                <img data-value="<%=image._id%>" class="Himg" src="data:<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="" width='100%' height='85%' />
                <span id='price'><i class="fa-solid fa-tag"></i>
                  <span class="price"><%=image.price = image.price[0] == '#' ? image.price.slice(1) : image.price%></span>
                </span>
                <button data-value='<%=image._id%>' class="view-good"><a>view</a></button>
                <div  class="add-to-cart">
                  <!--TODO
                  - Basic styling for the show.
                  - Attach to a button.
                  - Complete the styling.
                  - Do the rest of functionality with moving to the cart.
                  -->
                  <form method="post" action='/'>
                    <button type='submit' class='cart-button' name="id" value="<%=image._id%>">
                      <i class="fas fa-plus"></i>
                      <div id="add-to-cart">ADD TO CART</div>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <%})%>    
        </div>
      </div>
</section>
<br><br>
<section id="about" class="about">
  <div class="section-title">         
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch">
            <a href="https://youtu.be/5jUeZkdXOcU" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <p class="training">Neon collections offers online and onsite training. <div><em style="font-size: large; font-weight: 10px">You can get trained on how to build your favourite quality handbags and make money for yourself at affordable prices.</em></div></p><br>
           <div style="text-align: center;"><a href="https://wa.me/2348033748394?text=Hello%20Neon,%20I%20want%20to%20Join%20the%20Bag-making%20training." class="video btn btn-large">LET'S GET LEARNING.</a></div>
          </div>
        </div>

      </div>
    </section>

<%- include("partials/footer") %>
