<%- include("partials/header") %>

<div class="hero">
  <div class="heroL1 carousel">
    <figure>
      <img
        src="Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg"
        alt=""
      />
      <img
        src="Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.17 AM (1).jpeg"
        alt=""
      />
      <img
        src="Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.13 AM (4).jpeg"
        alt=""
      />
      <img
        src="Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.12 AM (1).jpeg"
        alt=""
      />
      <img
        src="Butterfly/assets/img/WhatsApp Image 2021-06-11 at 7.35.11 AM (1).jpeg"
        alt=""
      />
    </figure>
  </div>
  <div class="heroL1 transparent-beauty">
    <div>
      <h1>Look Stylish, Be Stylish</h1>
    </div>
      <span class="shop"><a href="#gallery">SHOP NOW <i class="fa-solid fa-cart-shopping"></i></a> <hr> </span>
  </div>
</div>
<section id="Hero-for-large">
    <div class="hero-for-large">
      <div class="abslt transparent">
        <div class="stables"></div>
        <div class="stables real" data-aos="fade-down">
        <h1>Look Stylish... <br>Be Stylish</h1>
        <div class="shopnow">
          <a href="#gallery">Shop Now <div style="display:inline-block"><i class="fa-solid fa-cart-shopping"></i></div></a>
        </div>
      </div>
      </div>
      <div class="abslt non-transparent">
    <img src="Butterfly/assets/img/background trial 2_ccexpress.png" alt="Hero Image">
      </div>
    </div>
</section>
<section id="gallery" class="gallery">
  <div class="container">
        <%if(images.length){%>
        <div class="section-title">
         <h1 class="viewtype">Recent Bags In Store</h1>
        </div>
        <%}%>
        <div class="galle-1 bag-1 show-the-stuff">
        <%images.forEach(function(image){%> 
          <div class="galle-1-L1" data-aos="fade-in" data-value="<%=image._id%>">
            <div>
              <div class="img">
                <img data-value="<%=image._id%>" class="Himg" src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="" width='100%' height='100%' />                
                <div class="view-good">
                  <i class="fa-solid fa-magnifying-glass-plus"></i>
                </div>
              </div>
              <div class="underimage">
              <h4 class="name"><%=image.name%></h4> 
              <div class="price"><i class="fa-solid fa-naira-sign"></i><%=image.price%></div>
              <p style='display: none' class="description"><%=image.description%></p>
              <div class="modal" style="display: none;">
                <div class="view-image">
                  <img data-value="<%=image._id%>" class="Himg"
                  src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>" alt="" width='100%'
                  height='100%' />
                </div>
                <ul>
                  <div class="show-title"><b><%=image.name%></b></div>
                  <li><b>Price:</b> <i class="fa-solid fa-naira-sign"></i> <%=image.price%></li>
                  <li><b>Description:</b> <%=image.description%></li>
                </ul>
                <span>Quantity:</span>
                <form class='counter' id="bag-to-cart" action="/bag-to-cart" method="post">
                  <span class="one minus"><i class="fa-solid fa-minus"></i></span>
                  <input class="number" type="number" name='quantity' value="1" min="1" step="1" readonly>
                  <span class="one plus"><i class="fa-solid fa-plus"></i></span>
                </form>
                  <button class='add-to-cart' form="bag-to-cart" type="submit" name="bag_id" value="<%=image._id%>">ADD TO CART</button>
                <a class='go-to-cart vwc' href="/cart">View Cart</a>
              </div>
              <%if(currentUser){%>
                <button class="edit"><a href="/bag/<%=image._id%>/edit">Edit</a></button>
                <form action="/bag/<%=image._id%>?_method=delete" method="POST" class="delete-form">
                  <button class="delete">Delete</button>
                </form>
              <%}%>
              </div>
            </div>
          </div>
        <%})%>    
        </div>
      </div>
</section>
<%if(images.length && shoes.length){%>
<br><br>
<%}%>
<section id="Shoes" class="Shoes">
  <div class="container">
<%if(shoes.length){%>
    <div class="section-title">
      <h1 class="viewtype">New Stock For Shoes</h1>
    </div>
<%}%>
    <div class="galle-1 shoe-1 show-the-stuff">
      <%shoes.forEach(function(shoe){%>
        <div class="galle-S-L1" data-aos="fade-in" data-value="<%=shoe._id%>">
          <div>
            <div class="img">
              <img data-value="<%=shoe._id%>" class="Himg"
                src="data:shoe/<%=shoe.img.contentType%>;base64,<%=shoe.img.data.toString('base64')%>" alt=""
                width='100%' height='100%' />
              <div class="view-good">
                <i class="fa-solid fa-magnifying-glass-plus"></i>
              </div>
            </div>
            <div class="undershoe">
              <h4 class="name">
                <%=shoe.name%>
              </h4>
              <div class="price"><i class="fa-solid fa-naira-sign"></i>
                <%=shoe.price%>
              </div>
              <div class="modal" style="display: none;">
                <div class="view-image">
                  <img data-value="<%=shoe._id%>" class="Himg"
                    src="data:shoe/<%=shoe.img.contentType%>;base64,<%=shoe.img.data.toString('base64')%>" alt="" width='100%'
                    height='100%' />
                </div>
                <ul>
                  <div class="show-title"><b>
                      <%=shoe.name%>
                    </b></div>
                  <li><b>Price:</b>
                    <%=shoe.price%>
                  </li>
                  <li><b>Description:</b>
                    <i class="fa-solid fa-naira-sign"></i> <%=shoe.description%>
                  </li>
                </ul>
                <span>Quantity:</span>
                <form class='counter' id="shoe-to-cart" action="/shoe-to-cart" method="post">
                  <span class="one minus"><i class="fa-solid fa-minus"></i></span>
                  <input class="number" type="number" name='quantity' value="1" min="1" step="1" readonly>
                  <span class="one plus"><i class="fa-solid fa-plus"></i></span>
                </form>
                  <button class='add-to-cart' form="shoe-to-cart" type="submit" name="shoe_id" value="<%=shoe._id%>">ADD TO CART</button>
                <a class='go-to-cart vwc' href="/cart">View Cart</a>
              </div>
              <%if(currentUser){%>
                <button class="edit"><a href="/shoe/<%=shoe._id%>/edit">Edit</a></button>
                <form action="/shoe/<%=shoe._id%>?_method=delete" method="POST" class="delete-form">
                  <button class="delete">Delete</button>
                </form>
              <%}%>
            </div>
          </div>
        </div>
        <%})%>
    </div>
  </div>
</section>
<%if(shoes.length){%>
<br><br>
<%}%>
<div class="services-title">
  <h1>OUR SERVICES</h1>
</div>
<section id="our-services">
  <div data-aos="fade-right">
    <div class="icon">
      <i class="fa-solid fa-wrench"></i>
    </div>
    <hr>
    <div class="text">Training</div>
  </div>
  <div data-aos="fade-right">
    <div class="icon">
      <i class="fa-solid fa-tags"></i>
    </div>
    <hr>
    <div class="text">Private Labelling</div>
  </div>
  <div data-aos="fade-right">
    <div class="icon">
      <i class="fa-solid fa-truck"></i>
    </div>
    <hr>
    <div class="text">Wholesales</div>
  </div>
</section>
<!-- <section id="about" class="about">
  <div class="section-title">         
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch">
            <a href="https://youtu.be/5jUeZkdXOcU" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <p class="training">Neon collections offers online and onsite training. <div><em style="font-size: large; font-weight: 10px">You can get trained on how to build your favourite quality handbags and make money for yourself at affordable prices.</em></div></p><br>
           <div style="text-align: center;"><a href="https://wa.me/2348033748394?text=Hello%20Neon,%20I%20want%20to%20Join%20the%20Bag-making%20training." class="video btn btn-large">LET'S GET LEARNING.</a></div>
          </div>
        </div>

      </div>
</section> -->
<%- include("partials/footer") %>
